<div class="container">
    <h2>Deine gespeicherten Anzeigen</h2>
    <div class="py-3 d-flex flex-wrap justify-content-center justify-content-md-start gap-4">

        @each(anzeige in gespeichert)

            @!component('components/anzeigencard', { anzeige, saved: true})

        @end

    </div>
</div>