<div class="container">
    <h2>Für dich empfohlen</h2>
    <div class="py-3 d-flex flex-wrap justify-content-center justify-content-md-start gap-4">

        @each(anzeige in products)

            @!component('components/anzeigencard', { anzeige, username: user ? user.username : null})

        @end

    </div>
</div>