<div class="{{ html.classNames(['achievment', $props.class]) }}" 
{{ $props.except(['achievment', 'class']).toAttrs() }}
>

    <img src="{{ asset($props.achievment.image) }}"></img>
    <h3>{{ $props.achievment.title }}</h3>
    <p>{{ $props.achievment.description }}</p>
</div>