<div class="container">
    <h2>Chats zu deinen Anzeigen:</h2>
    <div class="chatlist">
        @each(chat in ownChats)
            <a href="/chat/{{ chat.listing_id }}/{{ chat.username }}"><h3>{{ chat.title }}</h3></a>
        @end
    </div>
    <h2>Chats von dir zu fremden Anzeigen:</h2>
    <div class="chatlist">
        @each(chat in foreignChats)
            
        @end
    </div>
</div>