@import "./style.scss";

@mixin anzeigen-border {
    border-radius: 0.5em;
    border: $light-gray 2pt solid;
}

.twoxthree-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-items: center;
    align-items: center;
    padding: 1em;

    >div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }



    .anzeige-aufgeben_bild-div {
        height: 100%;
        width: 100%;
        display: flex !important;
        flex-direction: column-reverse;

        img {
            aspect-ratio: 16/9;
            object-fit: contain;
        }


        * {
            border-radius: 0.5em;
        }

        .carousel-control-prev,
        .carousel-control-next {
            background-image: none;
        }

        #previewCarousel {
            height: 100%;
            width: 100%;
            aspect-ratio: 16/9;

            .carousel-item {
                aspect-ratio: 16/9;
                height: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                aspect-ratio: 16/9;
                object-fit: contain;
            }
        }

        .carousel-inner {
            @include anzeigen-border;
            height: 100%;
            display: flex;
            align-items: center;
        }

    }


}


@media screen and (min-width: 768px) {
    .twoxthree-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 1em;
    }

}

#anzeige-aufgeben_text-div {
    height: 100%;
    max-height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    row-gap: 0.5em;

    textarea {
        height: 100%;
        resize: none;
    }
}

.anzeige-aufgeben_price {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: start;
}

.detail-anzeige {

    >div:not(:last-of-type) {
        justify-content: center;
        @include anzeigen-border;
    }

    .anzeige_image-div {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center !important;

        * {
            border-radius: 0.5em;
        }

        #imageCarousel {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            aspect-ratio: 16/9;

            .carousel-item {
                aspect-ratio: 16/9;

            }

        }


        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 16/9;
            object-fit: contain;
        }

        .carousel-control-prev,
        .carousel-control-next {
            background-image: radial-gradient(circle, rgba(255,255,255,0.80) 5%, rgba(255,255,255,0.66) 10%, rgba(255,255,255,0.2) 14%, rgba(255,255,255,0) 17%);
        }
    }

    .anzeige_text-div {
        height: 100%;
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: start !important;
        align-content: start;
        row-gap: 1em;

        h2 {
            word-wrap: break-word;
        }

        >p {
            overflow-wrap: anywhere;
            text-overflow: hidden;
            overflow: auto;
            max-height: 120pt;
        }

    }

    .anzeige_price {
        width: 100%;
        display: flex;
        gap: 3em;
        align-items: center;
        justify-content: start;
    }

    .anzeige_interaction {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: start;

        >div {
            display: grid;
            gap: 1em;
            grid-template-columns: 1fr 1fr;
        }

        .anzeigen-btn {
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5em;
            }
        }

    }
}

.alert {
    margin-top: 0.5em;
}