//https://coolors.co/palette/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff
$primary: #003781;
//$secondary: #CAFFBF;
$secondary: #a0c4ff;
$light: #caffbf;
$light-red: #f5a3a3;
$main-color: #ffaa43;

$light-bg-subtle: $main-color;
$body-tertiary-bg: $main-color;

$enable-shadows: true;
$enable-gradients: true;

$alert-padding-y: 0.5em;

$carousel-control-color: $primary;
$carousel-indicator-opacity: 0.5;
$carousel-indicator-active-bg: $primary;

@import "../../node_modules/bootstrap/scss/bootstrap";