* {
    margin: 0;
    padding: 0;
    min-width: 0;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
      flex: 1;
      padding-top: 1em;
  }
  
  

@import "../scss/custom.scss";

.fit-content {
    min-width: fit-content;
}

.btn-gray {
    background-color: $gray-400 !important;
}

.btn-gray:hover {
    background-color: $gray-500 !important;
}

nav {
    padding: 0 !important;
    z-index: 10;
}

.nav-gradient {
    background: rgb(255, 170, 67) linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) repeat scroll 0% 0%;
}

.nk-navbar {
    padding-block: 0.8em;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nk-nav-brand {
    display: grid;
    grid-template-columns: auto;
    justify-items: start;
}

.nk-nav-toggler {
    display: grid;
    grid-template-columns: auto;
    justify-items: end;
    background: transparent;

    button {
        background: transparent;
        border-radius: 0.5em;
        border: 1px solid gray;
        width: 3em;
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;

        span {
            font-size: 2em;
        }
    }
}

.nav-link-container {
    display: none;
}

.nav-link-container:first {
    justify-content: start;
}

.nav-link-container:last-of-type {
    justify-content: end;
}

#mobile-nav-links {
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    z-index: -1;

    &.shown {
        background-color: #dddddd !important;
        padding-block: 1em;
    
        .nav-link-container {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            width: 100%;
            margin: 0;
    
            li {
                a {
                    color: white;
                    text-decoration: none;
                    transition: 0.3s;
    
                    &:hover {
                        color: $light-gray;
                    }
                }
    
                a[aria-current="page"] {
                    color: $primary;
                }
            }
        }
    }
}

@media screen and (min-width: 786px) {
    #mobile-nav-links {
        display: none;
    }

    .nk-navbar {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .nav-link-container {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        width: 100%;
        margin: 0;
        padding-left: 0;

        li {
            a {
                color: white;
                text-decoration: none;
                transition: 0.3s;

                &:hover {
                    color: #00388185;
                }
            }

            a[aria-current="page"] {
                color: $primary;
                pointer-events: none;
                cursor: default;
            }
        }
    }

    .nk-nav-toggler {
        display: none;
    }

    .nk-nav-brand {
        justify-items: center;

    }
}

@mixin hover-shadow {
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
}

@mixin line-clamp($lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@for $i from 1 through 10 {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
            .w-#{$breakpoint}-#{$i*10} {
                width: $i * 10%;
            }
        }
    }
}

#nav-search-row {
    background-color: $light-gray;
}

#profile-information {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}

#profile-top {
    display: grid;
    border-radius: 0.5em;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    justify-items: center;
    align-items: center;
    background-color: $light-gray;
    padding-block: 0.5em;
}

#profile-top_left {
    display: flex;
    align-items: center;
    gap: 1em;
}

#profile-image {
    border-radius: 50%;
}

#profile-general {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;

    >span {
        margin-bottom: 0.5em;
    }

    input {
        margin-bottom: 1.5em;
    }
}

@media screen and (min-width: 768px) {

    #profile-general {
        grid-template-columns: 1fr 1fr;
        row-gap: 1em;
    }

    #profile-information {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1em;
    }

    #profile-top {
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
    }

    #profile-general {
        .btn-secondary {
            max-width: fit-content;
        }
    }

}


.anzeige {
    $anzeigen-width: 90%;

    width: $anzeigen-width;
    height: 1.3 * $anzeigen-width !important;

    .anzeigen-status,
    .anzeigen-image {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1.5 / 1;
    }

    .anzeigen-status {
        position: absolute;
        height: 100%;
        min-height: 50%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ~.stretched-link {
            z-index: 100;
        }

        h3 {
            font-size: 2em;
        }

        &.sold {
            background-color: rgba($light, 0.7);
        }

        &.inactive {
            background-color: rgba($light-gray, 0.7);
        }
    }


    .anzeigen-btn {
        max-width: fit-content;
        display: grid !important;
        z-index: 100;
    }

    h3 {
        font-size: 1.3em;
        @include line-clamp(2);
    }

    .card-text {
        @include line-clamp(3);
    }

    @include hover-shadow;
}

@media (min-width: 768px) {
    .anzeige {
        $anzeigen-width: 18rem;
        width: $anzeigen-width;
        height: 1.4 * $anzeigen-width !important;
    }
}

footer {
    background-color: $light-gray;
    padding: 1em;
    text-align: center;
    margin-top: 1em;
}