@import "../scss/custom.scss";

$light-gray: #f0f0f0;

.btn-gray {
    background-color: $gray-400 !important;
}

.btn-gray:hover {
    background-color: $gray-500 !important;
}

nav {
    padding: 0 !important;
    z-index: 10;
}

.nav-gradient {
    background: rgb(255, 170, 67) linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) repeat scroll 0% 0%;
}

.nk-navbar {
    padding-block: 0.8em;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nk-nav-brand {
    display: grid;
    grid-template-columns: auto;
    justify-items: start;
}

.nk-nav-toggler {
    display: grid;
    grid-template-columns: auto;
    justify-items: end;
    background: transparent;

    button {
        background: transparent;
        border-radius: 0.5em;
        border: 1px solid gray;
        width: 3em;
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;

        span {
            font-size: 2em;
        }
    }
}

.nav-link-container {
    display: none;
}

.nav-link-container:first {
    justify-content: start;
}

.nav-link-container:last-of-type {
    justify-content: end;
}

#mobile-nav-links {
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    z-index: -1;

    &.shown {
        display: block;
        background-color: #dddddd !important;
        padding-block: 1em;
    
        .nav-link-container {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            width: 100%;
            margin: 0;
    
            li {
                a {
                    color: #0f0f0f;
                    text-decoration: none;
                    transition: 0.3s;
    
                    &:hover {
                        color: $light-gray;
                    }
                }
    
                a[aria-selected="true"] {
                    color: #1f1f1f;
                }
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .nk-navbar {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .nav-link-container {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        width: 100%;
        margin: 0;
        padding-left: 0;

        li {
            a {
                color: white;
                text-decoration: none;
                transition: 0.3s;

                &:hover {
                    color: $light-gray;
                }
            }

            a[aria-current="page"] {
                color: #dddddd;
                pointer-events: none;
                cursor: default;
            }
        }
    }

    .nk-nav-toggler {
        display: none;
    }

    .nk-nav-brand {
        justify-items: center;

    }
}



@mixin hover-shadow {
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
}

@mixin line-clamp($lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.anzeige {
    $anzeigen-width: 90%;

    width: $anzeigen-width;
    height: 1.3 * $anzeigen-width !important;

    .anzeigen-status,
    .anzeigen-image {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1.5 / 1;
    }

    .anzeigen-status {
        position: absolute;
        height: 100%;
        min-height: 50%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ~.stretched-link {
            z-index: 100;
        }

        h3 {
            font-size: 2em;
        }

        &.sold {
            background-color: rgba($light, 0.7);
        }

        &.inactive {
            background-color: rgba($light-gray, 0.7);
        }
    }


    .anzeigen-btn {
        max-width: fit-content;
        display: grid !important;
        z-index: 100;
    }

    h3 {
        font-size: 1.3em;
        @include line-clamp(2);
    }

    .card-text {
        @include line-clamp(3);
    }

    @include hover-shadow;
}

@media (min-width: 768px) {
    .anzeige {
        $anzeigen-width: 18rem;
        width: $anzeigen-width;
        height: 1.4 * $anzeigen-width !important;
    }
}

@for $i from 1 through 10 {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
            .w-#{$breakpoint}-#{$i*10} {
                width: $i * 10%;
            }
        }
    }
}

#nav-search-row {
    background-color: $light-gray;
}


.login-form {
    margin-inline: auto;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    row-gap: 1em;
    width: 90%;
    padding: 1em 0 2em;
    border: 0.4em solid $main-color;
    border-radius: 1em;
    text-align: center;
}

.login-buttons {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5em;
}

#profile-information {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}

#profile-top {
    display: grid;
    border-radius: 0.5em;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    justify-items: center;
    align-items: center;
    background-color: $light-gray;
    padding-block: 0.5em;
}

#profile-top_left {
    display: flex;
    align-items: center;
    gap: 1em;
}

#profile-image {
    border-radius: 50%;
}

#profile-general {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;

    >span {
        margin-bottom: 0.5em;
    }

    input {
        margin-bottom: 1.5em;
    }
}

#achievment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.achievment {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr 1fr;
    justify-items: center;
    align-items: start;
    background-color: $light-red;
    padding: 0.5em 0.5em 0.5em 0;
    border-radius: 1em;
    width: 80%;
    text-align: center;
    overflow-wrap: break-word !important;

    h3 {
        word-break: break-word;
    }

    img {
        width: 5em;
        height: 5em;
    }

    &.done {
        background-color: $light;
    }
}



@media screen and (min-width: 768px) {

    #profile-general {
        grid-template-columns: 1fr 1fr;
        row-gap: 1em;
    }

    #achievment-list {
        justify-content: space-between;
    }

    .achievment {
        width: 14em;
    }

    .login-form {
        width: 50%;
        grid-template-columns: 75%;
    }

    .login-buttons {
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
    }

    #profile-information {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1em;
    }

    #profile-top {
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
    }

    #profile-general {
        .btn-secondary {
            max-width: fit-content;
        }
    }

}

.twoxthree-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-items: center;
    align-items: center;
    padding: 1em;

    >div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .anzeige_image-div {
        width: 100%;
        display: flex;
        align-items: center !important;

        * {
            border-radius: 0.5em;
        }

        .anzeigen-image {
            width: 100%;
            height: 340pt;
            border-radius: 0.4em;
            object-fit: contain;
        }

        .carousel-control-prev,
        .carousel-control-next {
            background-image: none;
        }

    }
}

@media screen and (min-width: 768px) {
    .twoxthree-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 1em;
    }

}

#anzeige-aufgeben_text-div {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    row-gap: 1em;


    textarea {
        height: 100%;
        resize: none;
    }
}

.anzeige-aufgeben_price {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: start;
}

.detail-anzeige {

    >div:not(:last-of-type) {
        justify-content: center;
        border-radius: 0.5em;
        border: $light-gray 3pt solid;
    }

    .anzeige_text-div {
        height: 100%;
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: start !important;
        align-content: start;
        row-gap: 1em;

        >p {
            overflow-wrap: anywhere;
            text-overflow: hidden;
            overflow: auto;
            max-height: 120pt;
        }


    }


    .anzeige_price {
        width: 100%;
        display: flex;
        gap: 3em;
        align-items: center;
        justify-content: start;
    }

    .anzeige_interaction {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: start;

        >div {
            display: grid;
            gap: 1em;
            grid-template-columns: 1fr 1fr;
        }

        .anzeigen-btn {
            span{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5em;
            }
        }

    }
}

.chatlist {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
    padding-left: 0;

    .chat {
        text-decoration: none;
        padding-block: 0.2em;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0.5em;

        ::after:not(:last-of-type){
            content: "<hr>";
        }

        img {
            width: 3em;
            height: 3em;
            border-radius: 50%;
            object-fit: cover;
        }

        h3 {
            display: inline;
            margin-bottom: 0;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
        
        span {
            display: flex;
            align-items: baseline;
            gap: 0.5em;
        }
    }

}

.chat-container {
    $chat-container-border-radius: 2em;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    border-radius: $chat-container-border-radius;
    border: 2px solid #dddddd;
    height: 80vh;
    width: 90%;
    padding-inline: 0em;

    >* {
        padding-inline: 1em;
    }

    .top-container {
        background-color: $light-gray;
        border-radius: $chat-container-border-radius $chat-container-border-radius 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;

        img {
            width: 3em;
            height: 3em;
            border-radius: 50%;
            object-fit: cover;
        }

        .anzeigen-container {
            display: flex;
            gap: 1em;
            justify-content: start;
            align-items: center;
        }

        .user-container {
            display: flex;
            gap: 1em;
            justify-content: end;
            align-items: center;
        }
    }

    .message-container {
        display: flex;
        flex-direction: column-reverse;
        overflow-x: hidden;
        padding-block: 1em;

        .message-row {
            display: flex;

            .message {
                padding: 0.5em 1em;
                border-radius: 0.5em;
                max-width: 80%;
                overflow-wrap: break-word !important;
                overflow-x: hidden;
                text-wrap: wrap;
            }

            &.right {
                justify-content: flex-end;

                .message {
                    background-color: $light-gray;
                }
            }

            &.left {
                justify-content: flex-start;

                .message {
                    border: 2px solid $light-gray;
                    background-color: white;
                }
            }

        }

    }

    .send-container {
        border-radius: 0 0 $chat-container-border-radius $chat-container-border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light-gray;

        textarea {
            width: 80%;
            height: 70%;
            resize: none;
            border-radius: 3em 0 0 3em;
            padding: 0.5em 1em;
            border-color: $secondary;
        }

        input {
            border-radius: 0 3em 3em 0;
            min-width: fit-content;
            max-width: 5%;
            height: 70%;
        }
    }
}

@media screen and (min-width: 768px) {
    .chat-container {
        height: 70vh;
        width: 80%;
    }

}

footer {
    background-color: $light-gray;
    padding: 1em;
    text-align: center;
    margin-top: 1em;
}