@import "./style.scss";

#achievment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.achievment {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr 1fr;
    justify-items: center;
    align-items: start;
    background-color: $light-red;
    padding: 0.5em 0.5em 0.5em 0;
    border-radius: 1em;
    width: 80%;
    text-align: center;
    overflow-wrap: break-word !important;

    h3 {
        word-break: break-word;
    }

    img {
        width: 5em;
        height: 5em;
    }

    &.done {
        background-color: $light;
    }
}


#profile-general {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;


    input {
        margin-bottom: 1.5em;
    }
}

@media screen and (min-width: 768px) {

    #profile-general {
        grid-template-columns: 1fr 1fr;
        row-gap: 1em;

        .btn-secondary {
            max-width: fit-content;
        }
    }

    #profile-information {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1em;
    }


}




@media screen and (min-width: 768px) {
    
    #achievment-list {
        justify-content: space-between;
    }

    .achievment {
        width: 14em;
    }

}