<div class="container">
    <h2>418 - I'm a Teapot <span class="material-symbols-outlined">
        emoji_food_beverage
        </span></h2>
    <p>Diese Aktion wird hier leider nicht unterstützt!</p>
</div>