<div class="container">
    <h2>{{ error.code }} - Server error </h2>
    <p>
        Der Server hatte einen internen Fehler und konnte die Anfrage nicht bearbeiten. Bitte versuchen Sie es später
        erneut.
    </p>
</div>