<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Kleinanzeigen Website" />
    @vite(['resources/js/login.js', 'resources/css/login.css', 'resources/js/app.js'])
    <title>
        @if (title)
            {{ title }}
            - 
        @end
        Nikos Kleinanzeigen!
    </title>
</head>

<body>
@include('partials/navbar')
<main>
    @include(page)
</main>
@include('partials/footer')
</body>

</html>